/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */

ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */

img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*,
html,
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.hide {
  display: none;
}

/* ============ header =========== */

header {
  background: linear-gradient(88.94deg, #504194 -0.56%, #E064E1 97.67%);
  min-height: 90px;
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

header .main-menu {
  width: 1400px;
  max-width: 95%;
  min-height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header .main-menu .logo {
  display: flex;
  align-items: center;
}

header .main-menu .logo span {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  margin-left: 20px;
  color: #FFFFFF;
  white-space: nowrap;
}

@media (max-width: 1293px) {
  header .main-menu .logo span {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  header .main-menu .logo span {
    display: none;
  }
}

@media (max-width: 1293px) {
  header .main-menu .logo img {
    width: 80px;
  }
}

header .main-menu ul.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 890px) {
  header .main-menu ul.menu {
    display: none;
  }
}

header .main-menu ul.menu li {
  margin-left: 33px;
  color: #ffed4a;
  white-space: nowrap;
}

header .main-menu ul.menu li:first-child {
  margin-left: 0;
}

header .main-menu ul.menu li i,
header .main-menu ul.menu li a {
  color: #ffed4a;
  font-size: 1.32rem;
}

@media (max-width: 1293px) {
  header .main-menu ul.menu li i,
  header .main-menu ul.menu li a {
    font-size: 1rem;
  }
}

header .main-menu ul.menu li:hover i,
header .main-menu ul.menu li:hover a {
  color: #fff;
}

header .main-menu .mobile-menu-btn {
  display: none;
  width: 36px;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 890px) {
  header .main-menu .mobile-menu-btn {
    display: flex;
  }
}

header .main-menu .mobile-menu-btn span {
  height: 4px;
  width: 100%;
  background: #fff;
  margin-bottom: 5px;
  content: '\A0';
  display: block;
}

header .main-menu .mobile-menu-btn span:last-child {
  margin-bottom: 0;
}

header .main-menu .mobile-menu-btn.active span {
  display: none;
}

header .main-menu .mobile-menu-btn.active span:first-child {
  display: block;
  transform: rotate(45deg);
  margin-bottom: 0;
  position: relative;
  top: 4px;
  left: 1px;
}

header .main-menu .mobile-menu-btn.active span:last-child {
  display: block;
  transform: rotate(135deg);
  margin-bottom: 0;
}

header .wrapper-mobile.hide {
  display: none;
}

header .wrapper-mobile {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 240px;
  z-index: 500;
  width: 100%;
  background-color: white;
  background: #fff url(/images/background-mobile.svg?bc1bdbb9f0314ac760e1ed21bdbe7def) no-repeat center 140px/cover;
}

@media screen and (min-width: 700px) {
  header .wrapper-mobile {
    background: #fff url(/images/background-mobile.svg?bc1bdbb9f0314ac760e1ed21bdbe7def) no-repeat center 35px/cover;
  }
}

@media (min-width: 890px) {
  header .wrapper-mobile {
    display: none;
  }
}

header .wrapper-mobile .mobile-menu > div {
  margin-top: 30px;
}

header .wrapper-mobile .mobile-menu a {
  width: 240.79px;
  height: 39.48px;
  left: 38.05px;
  background: linear-gradient(89.7deg, #E164BE -0.56%, #FF74D8 -0.55%, #FF985E 97.67%);
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 2;
}

/** ============================== */

/* ============ table ============ */

.table-wrapper table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.table-wrapper table caption {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.table-wrapper table thead {
  border-bottom: solid 1px  #e9e9e9;
}

.table-wrapper table thead th {
  color: #616161;
  font-weight: 400;
}

.table-wrapper table tbody tr {
  border-bottom: solid 1px #e9e9e9;
}

.table-wrapper table tbody tr:last-child {
  border-bottom: none;
}

.table-wrapper table tbody td {
  color: #EA4E64;
  text-align: center;
  padding: 1rem 0;
}

@media screen and (max-width: 800px) {
  .table-wrapper table tbody td {
    text-align: right;
  }
}

.table-wrapper table tbody td .btn {
  padding: 4px 12px;
  font-size: 14px;
  min-width: 100px;
  height: auto;
}

.table-wrapper table tbody td .text-big {
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
}

.table-wrapper table tbody td .text-large {
  font-weight: 900;
  font-size: 36px;
  line-height: 1;
}

@media screen and (max-width: 800px) {
  .table-wrapper table {
    border: 0;
  }

  .table-wrapper table caption {
    font-size: 1.3em;
  }

  .table-wrapper table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table-wrapper table tr {
    display: block;
    margin-bottom: 3rem;
    background: #f9f9f9f0;
  }

  .table-wrapper table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    width: 100%;
  }

  .table-wrapper table td::before {
    /*
            * aria-label has no advantage, it won't be read inside a table
            content: attr(aria-label);
            */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table-wrapper table td:last-child {
    border-bottom: 0;
  }
}

.wrapper-content {
  width: 1400px;
  max-width: 95%;
  margin: 0 auto;
}

.container-top {
  position: relative;
  background-image: url(/images/bg_waves.png?d0a5893f6d958d288c0090e7c228f47b), url(/images/points.svg?259b5d18ac386d30d3252ac0e2dae99c), url(/images/likes.svg?6967c9145eaaf6a65035a12342bb1396);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: -540px 178px, 140px -80px, 393px 126px;
  padding-bottom: 580px;
  background-size: 170% auto, auto, 75%;
}

@media (max-width: 1752px) {
  .container-top {
    background-size: 190% auto, auto, 75%;
    background-position: -540px 138px, 140px -80px, 393px 126px;
  }
}

@media (max-width: 1532px) {
  .container-top {
    background-size: 220% auto, auto, 75%;
    background-position: -540px 48px, 140px -80px, 393px 126px;
  }
}

@media (max-width: 1270px) {
  .container-top {
    background-size: 260% auto, auto, 75%;
    background-position: -540px -62px, 140px -80px, 393px 126px;
    padding-bottom: 930px;
  }
}

@media (max-width: 1011px) {
  .container-top {
    background-size: 330% auto, auto, 75%;
    background-position: -540px 12px, 140px -80px, 393px 126px;
  }
}

@media (max-width: 990px) {
  .container-top {
    background-size: 350% auto, auto, 75%;
  }
}

@media (max-width: 927px) {
  .container-top {
    background-size: 390% auto, auto, 75%;
  }
}

@media (max-width: 875px) {
  .container-top {
    background-size: 410% auto, auto, 75%;
  }
}

@media (max-width: 830px) {
  .container-top {
    background-size: 430% auto, auto, 75%;
  }
}

@media (max-width: 790px) {
  .container-top {
    background-size: 460% auto, auto, 75%;
  }
}

@media (max-width: 720px) {
  .container-top {
    background-size: 500% auto, auto, 75%;
  }
}

@media (max-width: 700px) {
  .container-top {
    background-size: 520% auto, auto, 75%;
  }
}

@media (max-width: 675px) {
  .container-top {
    background-size: 460% auto, auto, 75%;
  }
}

@media (max-width: 659px) {
  .container-top {
    background-size: 500% auto, auto, 75%;
  }
}

@media (max-width: 638px) {
  .container-top {
    background-size: 510% auto, auto, 75%;
  }
}

@media (max-width: 590px) {
  .container-top {
    background-size: 540% auto, auto, 75%;
  }
}

@media (max-width: 550px) {
  .container-top {
    background-size: 580% auto, auto, 75%;
  }
}

@media (max-width: 515px) {
  .container-top {
    background-size: 580% auto, auto, 75%;
  }
}

@media (max-width: 480px) {
  .container-top {
    background-size: 660% auto, auto, 75%;
  }
}

@media (max-width: 450px) {
  .container-top {
    background-size: 560% auto, auto, 75%;
  }
}

@media (max-width: 430px) {
  .container-top {
    background-size: 600% auto, auto, 75%;
  }
}

@media (max-width: 400px) {
  .container-top {
    background-size: 620% auto, auto, 75%;
  }
}

@media (max-width: 380px) {
  .container-top {
    background-size: 660% auto, auto, 75%;
  }
}

@media (max-width: 370px) {
  .container-top {
    background-size: 690% auto, auto, 75%;
  }
}

@media (max-width: 345px) {
  .container-top {
    background-size: 745% auto, auto, 75%;
  }
}

@media (max-width: 332px) {
  .container-top {
    background-size: 780% auto, auto, 75%;
  }
}

@media (max-width: 1011px) {
  .wrapper-content.promotion-wrapper {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
  }
}

.wrapper-content.promotion-wrapper .rocket {
  position: absolute;
  top: 0;
  left: 0;
  background: url(/images/rocket.svg?ad4a6fa6c5d4f20e932f4b8850e2d9e1) no-repeat left top/contain;
  width: 55%;
  height: 1660px;
}

@media (max-width: 1800px) {
  .wrapper-content.promotion-wrapper .rocket {
    top: 0;
  }
}

@media (max-width: 1440px) {
  .wrapper-content.promotion-wrapper .rocket {
    width: 40%;
  }
}

@media (max-width: 1011px) {
  .wrapper-content.promotion-wrapper .rocket {
    position: absolute;
    width: 60%;
    height: 900px;
    top: 293px;
  }
}

@media (max-width: 700px) {
  .wrapper-content.promotion-wrapper .rocket {
    top: 280px;
    width: 70%;
  }
}

@media (max-width: 620px) {
  .wrapper-content.promotion-wrapper .rocket {
    top: 335px;
  }
}

@media (max-width: 400px) {
  .wrapper-content.promotion-wrapper .rocket {
    width: 90%;
    top: 320px;
  }
}

.wrapper-content.promotion-wrapper .promotion {
  width: 50%;
  margin-left: auto;
  padding-top: 173px;
}

@media (max-width: 1440px) {
  .wrapper-content.promotion-wrapper .promotion {
    width: 63%;
    padding-top: 63px;
  }
}

@media (max-width: 1011px) {
  .wrapper-content.promotion-wrapper .promotion {
    width: 95%;
  }
}

.wrapper-content.promotion-wrapper .promotion-title {
  color: #5C4998;
  font-size: 64px;
  font-weight: bold;
  line-height: 78px;
}

@media (max-width: 1168px) {
  .wrapper-content.promotion-wrapper .promotion-title {
    font-size: 44px;
    line-height: 48px;
  }
}

@media (max-width: 500px) {
  .wrapper-content.promotion-wrapper .promotion-title {
    font-size: 30px;
    line-height: 28px;
  }
}

.wrapper-content.promotion-wrapper .promotion-desc {
  color: #2C2935;
  font-size: 24px;
  margin-top: 13px;
}

@media (max-width: 500px) {
  .wrapper-content.promotion-wrapper .promotion-desc {
    font-size: 15px;
  }
}

.wrapper-content.promotion-wrapper .promotion-btn {
  margin-top: 39px;
}

.wrapper-content.promotion-wrapper .promotion-btn a {
  text-align: center;
  background: linear-gradient(89.77deg, #E164BE -0.56%, #FF74D8 -0.55%, #FF985E 97.67%);
  border-radius: 50px;
  max-width: 292px;
  height: 63px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  display: block;
  padding-top: 12px;
}

@media (max-width: 1168px) {
  .wrapper-content.promotion-wrapper .promotion-btn a {
    font-size: 18px;
    line-height: 2.3;
    max-width: 242px;
  }
}

@media (max-width: 400px) {
  .wrapper-content.promotion-wrapper .promotion-btn a {
    max-width: 180px;
    font-size: 14px;
    height: 39.48px;
    line-height: 1.3;
  }
}

.advantage {
  margin-top: 497px;
  color: white;
}

@media (max-width: 1596px) {
  .advantage {
    margin-top: 402px;
  }
}

.advantage-item {
  display: flex;
}

@media (max-width: 1011px) {
  .advantage-item {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1011px) {
  .advantage-item:nth-of-type(1) .advantage-desc {
    text-align: left;
  }
}

@media (max-width: 1011px) {
  .advantage-item:nth-of-type(2) {
    margin-top: 40px;
    flex-direction: column-reverse;
  }
}

.advantage-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

@media (max-width: 1400px) {
  .advantage-text {
    width: 60%;
  }
}

@media (max-width: 1200px) {
  .advantage-text {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .advantage-text {
    width: 80%;
  }
}

@media (max-width: 1011px) {
  .advantage-text {
    width: 100%;
  }
}

.advantage-title {
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
}

@media (max-width: 1011px) {
  .advantage-title {
    margin-top: 2rem;
  }
}

@media (max-width: 675px) {
  .advantage-title {
    font-size: 32px;
    line-height: 1.2;
  }
}

@media (max-width: 450px) {
  .advantage-title {
    font-size: 18px;
  }
}

.advantage-hr {
  height: 6px;
  background-color: white;
  width: 185px;
  margin: 20px auto;
}

@media (max-width: 450px) {
  .advantage-hr {
    height: 3px;
  }
}

.advantage-desc {
  font-size: 24px;
  line-height: 149.7%;
}

@media (max-width: 675px) {
  .advantage-desc {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .advantage-desc {
    font-size: 12px;
  }
}

.advantage-img {
  display: flex;
  justify-content: center;
}

@media (max-width: 1091px) {
  .advantage-img {
    width: 40%;
  }
}

.container-middle {
  margin-top: -500px;
  padding-top: 180px;
  background-image: url(/images/points.svg?259b5d18ac386d30d3252ac0e2dae99c), url(/images/likes.svg?6967c9145eaaf6a65035a12342bb1396);
  background-repeat: no-repeat, no-repeat;
  background-position: -20px -80px, 190px 120px;
}

@media (max-width: 450px) {
  .container-middle {
    padding-top: 50px;
  }
}

.tariffcontainer-title {
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  color: #5C4998;
}

@media (max-width: 500px) {
  .tariffcontainer-title {
    font-size: 48px;
  }
}

.tariffcontainer .item {
  margin-top: 57px;
  margin-bottom: 10rem;
}

.tariffcontainer .item-title {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  font-weight: 800;
  color: #fb378f;
  font-size: 34px;
  text-transform: uppercase;
}

.tariffcontainer .item-title div {
  border: 5px solid #fb378f;
  border-radius: 37.5px;
  padding: 13px 95px;
}

.tariffcontainer .item-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 700px) {
  .tariffcontainer .item-body {
    justify-content: center;
  }
}

.tariffcontainer .tariff {
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 17px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  font-feature-settings: 'case';
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}

.tariffcontainer .tariff .tariff__body {
  text-transform: lowercase;
  font-size: 17px;
  max-width: 317px;
  height: auto;
  color: white;
  background: linear-gradient(180deg, #B04E98 18.23%, #873E90 90.1%, #73307B 100%);
  border-radius: 33px;
  padding: 0px 10px 20px 10px;
  margin-top: -27px;
}

.tariffcontainer .tariff .module-border-wrap {
  padding: 1rem;
  position: relative;
  background: linear-gradient(180deg, #FD92E3 18.23%, #873E90 90.1%, #7D3786 100%);
  padding: 3px 5px;
  border-radius: 39px;
  padding-right: 6px;
  margin: 0 auto;
}

.tariffcontainer .tariff .row1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  margin-top: 30px;
  padding-top: 28px;
}

.tariffcontainer .tariff .row2 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  margin-top: 2px;
}

.tariffcontainer .tariff .row3 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  margin-top: 4px;
}

.tariffcontainer .tariff .hr {
  width: 250px;
  height: 4px;
  background-color: white;
  margin: 0 auto;
  margin-top: 11px;
}

.tariffcontainer .tariff .row8 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 30px;
}

.tariffcontainer .tariff .row9 a {
  width: 238px;
  height: 53px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.23);
  border-radius: 39px;
  margin: 0 auto;
  color: #EB5B9C;
  text-decoration: none;
  display: block;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 13px;
}

.tariffcontainer .tariff .row4 span,
.tariffcontainer .tariff .row5 span,
.tariffcontainer .tariff .row6 span,
.tariffcontainer .tariff .row7 span {
  font-weight: bold;
}

.tariffcontainer .tariff .unlimited {
  color: #ffd039;
}

.tariffcontainer .tariff .row4 {
  margin-top: 10px;
}

.tariffcontainer .tariff .row6 {
  text-transform: none;
  margin-top: 20px;
}

.tariffcontainer .tariff .row6 img {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 25px;
}

.tariffcontainer .tariff .row6 .ml {
  font-weight: normal;
}

.tariffcontainer .tariff .row7 {
  text-transform: none;
}

.tariffcontainer .tariff .row7 img {
  display: inline-block;
  width: 25px;
}

.container-below {
  text-align: center;
  background-image: url(/images/background-below.png?2e0cc3cb174cfdcba039af8d922aa2a7);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -500px;
  padding-top: 780px;
  padding-bottom: 82px;
}

@media (max-width: 1200px) {
  .container-below {
    background-position: 100% 100%;
    background-size: 180% auto;
  }
}

@media (max-width: 700px) {
  .container-below {
    padding-bottom: 57px;
    padding-top: 600px;
  }
}

@media (max-width: 550px) {
  .container-below {
    padding-top: 520px;
  }
}

@media (max-width: 665px) {
  .container-below {
    background-size: 200% auto;
  }
}

@media (max-width: 600px) {
  .container-below {
    background-size: 220% auto;
  }
}

@media (max-width: 540px) {
  .container-below {
    background-size: 240% auto;
  }
}

@media (max-width: 490px) {
  .container-below {
    background-size: 280% auto;
  }
}

@media (max-width: 425px) {
  .container-below {
    background-size: 310% auto;
  }
}

@media (max-width: 400px) {
  .container-below {
    background-size: 330% auto;
  }
}

@media (max-width: 385px) {
  .container-below {
    background-size: 350% auto;
  }
}

@media (max-width: 360px) {
  .container-below {
    background-size: 370% auto;
  }
}

.container-below .row1 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  color: white;
}

@media (max-width: 800px) {
  .container-below .row1 {
    font-size: 48px;
  }
}

@media (max-width: 550px) {
  .container-below .row1 {
    font-size: 36px;
  }
}

@media (max-width: 380px) {
  .container-below .row1 {
    font-size: 32px;
  }
}

.container-below .row2 {
  color: white;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: -0.015em;
}

.container-below .row2 .content {
  width: 1500px;
  max-width: 95%;
  margin: 68px auto 12px;
  display: flex;
}

@media (max-width: 900px) {
  .container-below .row2 .content {
    margin-top: 34px;
  }
}

@media (max-width: 550px) {
  .container-below .row2 .content {
    margin-top: 10px;
  }
}

.container-below .row2 .content .arrow {
  min-width: 18px;
  background-image: url(/images/arrow.svg?4122399a51a3ce7aaa33c1b8b3126c5b);
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: 60px;
}

@media (max-width: 900px) {
  .container-below .row2 .content .arrow {
    background-image: url(/images/arrow-mobile.svg?777cfcdf614c5965a26636dc4d414419);
    margin-top: 30px;
    width: auto !important;
  }
}

.container-below .row2 .content .col {
  width: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-below .row2 .content .col__title {
  margin-bottom: 44px;
}

.container-below .row2 .content .col__title img {
  width: auto;
}

@media (max-width: 1200px) {
  .container-below .row2 .content .col__title img {
    height: 80px;
  }
}

@media (max-width: 900px) {
  .container-below .row2 .content .col__title img {
    width: 60px;
  }
}

@media (max-width: 900px) {
  .container-below .row2 .content .col__title {
    margin-bottom: 2px;
  }
}

@media (max-width: 1100px) {
  .container-below .row2 .content .col__desc {
    font-size: 14px;
  }
}

.container-below .row2 .content .col5 .col__desc {
  position: relative;
  top: -25px;
}

@media (max-width: 1300px) {
  .container-below .row2 .content .col5 .col__desc {
    top: 0px;
  }
}

.container-below .row3 a {
  width: 328px;
  height: 66px;
  background: #FFFFFF;
  border-radius: 39px;
  margin: 0 auto;
  color: #EB5B9C;
  text-decoration: none;
  display: block;
  text-align: center;
  padding-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #73366E;
}

@media (max-width: 600px) {
  .container-below .row3 a {
    width: 189px;
  }
}

@media (max-width: 430px) {
  .container-below .row3 a {
    font-size: 12px;
    width: 189px;
    height: 44px;
    line-height: 0.5;
  }
}

@media (max-width: 1150px) {
  .container-below .row3 {
    padding-top: 30px;
  }
}

footer {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}

@media (max-width: 750px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  footer a:last-of-type {
    margin-top: 30px;
  }
}

footer a {
  color: #9A4594;
  display: flex;
  margin: 0px 40px;
  text-decoration: none;
  border: 2px solid #994594;
  box-sizing: border-box;
  border-radius: 35.5px;
  font-size: 23px;
  line-height: 3;
}

footer a img {
  margin: 10px;
}

@media (max-width: 430px) {
  footer a img {
    height: 28px;
  }
}

footer a span {
  padding-right: 15px;
}

@media (max-width: 430px) {
  footer a {
    font-size: 12px;
    line-height: 4;
  }
}

@media (max-width: 430px) {
  footer {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.glide .glide__arrows {
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}

.glide .glide__arrows .glide__arrow {
  position: relative;
  background: linear-gradient(180deg, #B04E98 18.23%, #873E90 90.1%, #73307B 100%);
  font-size: 2rem;
  line-height: 1;
  padding: 0.2rem 1.5rem;
}

