/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */

ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */

img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*,
html,
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.hide {
  display: none;
}

/* ============ header =========== */

header {
  background: linear-gradient(88.94deg, #504194 -0.56%, #E064E1 97.67%);
  min-height: 90px;
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

header .main-menu {
  width: 1400px;
  max-width: 95%;
  min-height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header .main-menu .logo {
  display: flex;
  align-items: center;
}

header .main-menu .logo span {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  margin-left: 20px;
  color: #FFFFFF;
  white-space: nowrap;
}

@media (max-width: 1293px) {
  header .main-menu .logo span {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  header .main-menu .logo span {
    display: none;
  }
}

@media (max-width: 1293px) {
  header .main-menu .logo img {
    width: 80px;
  }
}

header .main-menu ul.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 890px) {
  header .main-menu ul.menu {
    display: none;
  }
}

header .main-menu ul.menu li {
  margin-left: 33px;
  color: #ffed4a;
  white-space: nowrap;
}

header .main-menu ul.menu li:first-child {
  margin-left: 0;
}

header .main-menu ul.menu li i,
header .main-menu ul.menu li a {
  color: #ffed4a;
  font-size: 1.32rem;
}

@media (max-width: 1293px) {
  header .main-menu ul.menu li i,
  header .main-menu ul.menu li a {
    font-size: 1rem;
  }
}

header .main-menu ul.menu li:hover i,
header .main-menu ul.menu li:hover a {
  color: #fff;
}

header .main-menu .mobile-menu-btn {
  display: none;
  width: 36px;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 890px) {
  header .main-menu .mobile-menu-btn {
    display: flex;
  }
}

header .main-menu .mobile-menu-btn span {
  height: 4px;
  width: 100%;
  background: #fff;
  margin-bottom: 5px;
  content: '\A0';
  display: block;
}

header .main-menu .mobile-menu-btn span:last-child {
  margin-bottom: 0;
}

header .main-menu .mobile-menu-btn.active span {
  display: none;
}

header .main-menu .mobile-menu-btn.active span:first-child {
  display: block;
  transform: rotate(45deg);
  margin-bottom: 0;
  position: relative;
  top: 4px;
  left: 1px;
}

header .main-menu .mobile-menu-btn.active span:last-child {
  display: block;
  transform: rotate(135deg);
  margin-bottom: 0;
}

header .wrapper-mobile.hide {
  display: none;
}

header .wrapper-mobile {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 240px;
  z-index: 500;
  width: 100%;
  background-color: white;
  background: #fff url(/images/background-mobile.svg?bc1bdbb9f0314ac760e1ed21bdbe7def) no-repeat center 140px/cover;
}

@media screen and (min-width: 700px) {
  header .wrapper-mobile {
    background: #fff url(/images/background-mobile.svg?bc1bdbb9f0314ac760e1ed21bdbe7def) no-repeat center 35px/cover;
  }
}

@media (min-width: 890px) {
  header .wrapper-mobile {
    display: none;
  }
}

header .wrapper-mobile .mobile-menu > div {
  margin-top: 30px;
}

header .wrapper-mobile .mobile-menu a {
  width: 240.79px;
  height: 39.48px;
  left: 38.05px;
  background: linear-gradient(89.7deg, #E164BE -0.56%, #FF74D8 -0.55%, #FF985E 97.67%);
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 2;
}

/** ============================== */

/* ============ table ============ */

.table-wrapper table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

@media screen and (max-width: 800px) {
  .table-wrapper table {
    border: 0;
  }

  .table-wrapper table caption {
    font-size: 1.3em;
  }

  .table-wrapper table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table-wrapper table tr {
    display: block;
    margin-bottom: 3rem;
    background: #f9f9f9f0;
  }

  .table-wrapper table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    width: 100%;
  }

  .table-wrapper table td::before {
    /*
            * aria-label has no advantage, it won't be read inside a table
            content: attr(aria-label);
            */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table-wrapper table td:last-child {
    border-bottom: 0;
  }
}

.login {
  margin-top: 126px;
  max-width: 779px;
  padding: 10px;
  margin: 126px auto 0px auto;
  border-radius: 35px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.login .wrapper {
  max-width: 483px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  padding: 0px 5px;
}

.login .wrapper .title {
  color: #984493;
  font-size: 42px;
  padding-top: 60px;
}

@media (max-width: 600px) {
  .login .wrapper .title {
    font-size: 32px;
    line-height: 1;
  }
}

.login .wrapper .description {
  font-size: 18px;
  line-height: 22px;
  max-width: 381px;
  color: #984493;
  margin: 0 auto;
  text-align: center;
  padding-top: 12px;
}

.login .inputs input {
  display: block;
  width: 100%;
  height: 68px;
  margin-top: 1rem;
  box-sizing: border-box;
  border-radius: 81px;
  border: 1px solid gray;
  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  padding: 20px 40px;
}

.login .wrapper a.login_btn {
  width: 100%;
  height: 68px;
  background: linear-gradient(89.67deg, #E164BE -0.56%, #FF74D8 -0.55%, #FF985E 97.67%);
  border-radius: 50px;
  display: inline-block;
  margin-top: 26px;
  color: white;
  text-decoration: none;
  line-height: 2.7 !important;
  font-size: 25px;
  line-height: 30px;
}

.login .lost-password {
  text-align: right;
  color: #984493;
  font-size: 18px;
  margin-top: 26px;
  padding-bottom: 63px;
}

.login .lost-password a {
  color: #984493;
  text-decoration: none;
}

input:focus {
  outline: none;
}

.errors {
  margin-top: 5px;
  color: #eb4e63;
  font-weight: bold;
  font-size: 20px;
}

