*, html, body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

.btn{
   background: linear-gradient(89.77deg, #E164BE -0.56%, #FF74D8 -0.55%, #FF985E 97.67%);
    
    border-radius: 50px;
}