/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*, html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

.tar {
  text-align: right; }

.tal {
  text-align: left; }

.wrapper-content {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto; }

.container-top {
  background-image: url(../images/rocket.svg), url(../images/background-top.svg), url(../images/points.svg), url(../images/likes.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: -200px 0px, -170px 300px, -20px -80px, 190px 120px;
  padding-bottom: 600px; }

header {
  background: linear-gradient(88.94deg, #504194 -0.56%, #E064E1 97.67%);
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper {
  width: 1400px;
  max-width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper .logo span {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  margin-left: 20px;
  color: #FFFFFF;
  white-space: nowrap;
}

@media (max-width: 1293px) {
  header .wrapper .logo span {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  header .wrapper .logo span {
    display: none;
  }
}

@media (max-width: 1293px) {
  header .wrapper .logo img {
    width: 80px;
  }
}

header .wrapper ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 890px) {
  header .wrapper ul.menu {
    display: none;
  }
}

header .wrapper ul.menu li {
  margin-left: 33px;
  color: #FFD15A;
  white-space: nowrap;
}

header .wrapper ul.menu li:first-child {
  margin-left: 0;
}

header .wrapper ul.menu li i, header .wrapper ul.menu li a {
  color: #FFD15A;
  font-size: 1.32rem;
}

@media (max-width: 1293px) {
  header .wrapper ul.menu li i, header .wrapper ul.menu li a {
    font-size: 1rem;
  }
}

header .wrapper ul.menu li:hover i, header .wrapper ul.menu li:hover a {
  color: #fff;
}

header .wrapper .mobile-menu {
  display: none;
  width: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 890px) {
  header .wrapper .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between; }
    header .wrapper .logo {
      display: flex;
      align-items: center; }
      header .wrapper .logo span {
        font-weight: 900;
        font-size: 30px;
        line-height: 37px;
        text-transform: uppercase;
        margin-left: 20px;
        color: #FFFFFF;
        white-space: nowrap; }
    header .wrapper ul.menu {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header .wrapper ul.menu li {
        margin-left: 33px;
        color: #FFD15A;
        white-space: nowrap; }
        header .wrapper ul.menu li:first-child {
          margin-left: 0; }
        header .wrapper ul.menu li i, header .wrapper ul.menu li a {
          color: #FFD15A;
          font-size: 1.32rem; }
        header .wrapper ul.menu li:hover i, header .wrapper ul.menu li:hover a {
          color: #fff; }

.promotion {
  width: 50%;
  margin-left: auto;
  padding-top: 173px; }
  .promotion-title {
    color: #5C4998;
    font-size: 64px;
    font-weight: bold;
    line-height: 78px; }
  .promotion-desc {
    color: #2C2935;
    font-size: 24px;
    margin-top: 13px; }
  .promotion-btn {
    margin-top: 39px; }
    .promotion-btn a {
      text-align: center;
      background: linear-gradient(89.77deg, #E164BE -0.56%, #FF74D8 -0.55%, #FF985E 97.67%);
      border-radius: 50px;
      width: 292px;
      height: 63px;
      color: white;
      text-decoration: none;
      font-size: 24px;
      display: block;
      padding-top: 12px; }

.advantage {
  margin-top: 497px;
  color: white; }
  .advantage-item {
    display: flex; }
    .advantage-item > div {
      width: 50%; }
  .advantage-text {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .advantage-title {
    font-weight: 900;
    font-size: 45px;
    line-height: 55px;
    text-align: center; }
  .advantage-hr {
    height: 6px;
    background-color: white;
    width: 185px;
    margin: 20px auto; }
  .advantage-desc {
    font-size: 24px;
    line-height: 149.7%; }
  .advantage-img {
    display: flex;
    justify-content: center; }

.container-middle {
  margin-top: -500px;
  padding-top: 180px;
  background-image: url(../images/points.svg), url(../images/likes.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: -20px -80px, 190px 120px; }

.tariffcontainer-title {
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  color: #5C4998; }
.tariffcontainer .item {
  margin-top: 57px; }
  .tariffcontainer .item-title {
    display: flex;
    justify-content: center; }
  .tariffcontainer .item-body {
    margin-top: 57px;
    display: flex;
    justify-content: space-between; }
.tariffcontainer .tariff {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  font-feature-settings: 'case';
  font-weight: normal;
  display: flex;
  justify-content: space-between; }
  .tariffcontainer .tariff__body {
    width: 317px;
    height: auto;
    color: white;
    background: linear-gradient(180deg, #B04E98 18.23%, #873E90 90.1%, #73307B 100%);
    border-radius: 39px;
    padding: 0px 20px 30px 20px; }
  .tariffcontainer .tariff .row1 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    margin-top: 28px; }
  .tariffcontainer .tariff .row2 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    margin-top: 2px; }
  .tariffcontainer .tariff .row3 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    margin-top: 4px; }
  .tariffcontainer .tariff .hr {
    width: 250px;
    height: 4px;
    background-color: white;
    margin: 0 auto;
    margin-top: 11px; }
  .tariffcontainer .tariff .row8 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    margin-top: 10px; }
  .tariffcontainer .tariff .row9 {
    margin-top: 10px; }
    .tariffcontainer .tariff .row9 a {
      width: 238px;
      height: 53px;
      background: #FFFFFF;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.23);
      border-radius: 39px;
      margin: 0 auto;
      color: #EB5B9C;
      text-decoration: none;
      display: block;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      padding-top: 13px; }
  .tariffcontainer .tariff .row4 span, .tariffcontainer .tariff .row5 span, .tariffcontainer .tariff .row6 span, .tariffcontainer .tariff .row7 span {
    font-weight: bold; }
  .tariffcontainer .tariff .unlimited {
    color: #ffd039; }
  .tariffcontainer .tariff .row4 {
    margin-top: 10px; }
  .tariffcontainer .tariff .row6 {
    margin-top: 20px; }
    .tariffcontainer .tariff .row6 img {
      display: inline-block;
      margin: 0px;
      padding: 0px; }
  .tariffcontainer .tariff .row7 {
    position: relative; }
    .tariffcontainer .tariff .row7 img {
      position: absolute;
      left: -15px; }

.container-below {
  height: 1000px;
  text-align: center;
  background-image: url("../images/background-below.svg");
  margin-top: -500px;
  padding-top: 600px; }

/*# sourceMappingURL=homepage.css.map */
