/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core root defaults */
html {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px); }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
*, html, body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%; }

.btn {
  background: linear-gradient(89.77deg, #E164BE -0.56%, #FF74D8 -0.55%, #FF985E 97.67%);
  border-radius: 50px; }

header {
  background: linear-gradient(88.94deg, #504194 -0.56%, #E064E1 97.67%);
  min-height: 90px;
  display: flex;
  align-items: center; }
  header .wrapper {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    header .wrapper .logo {
      display: flex;
      align-items: center; }
      header .wrapper .logo span {
        font-weight: 900;
        font-size: 30px;
        line-height: 37px;
        text-transform: uppercase;
        margin-left: 20px;
        color: #FFFFFF; }
    header .wrapper ul.menu {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header .wrapper ul.menu li {
        margin-left: 33px;
        color: #FFD15A;
        white-space: nowrap; }
        header .wrapper ul.menu li:first-child {
          margin-left: 0; }
        header .wrapper ul.menu li i, header .wrapper ul.menu li a {
          color: #FFD15A;
          font-size: 1.32rem; }
        header .wrapper ul.menu li:hover i, header .wrapper ul.menu li:hover a {
          color: #fff; }

.top {
  background-image: url("./../images/background-top.svg"); }
  .top .content-wrapper {
    background-image: url(../images/likes.svg);
    background-size: contain; }

.content-wrapper {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto; }
  .content-wrapper .promotion {
    width: 50%;
    margin-left: auto;
    margin-top: 173px; }
    .content-wrapper .promotion-title {
      color: #5C4998;
      font-size: 64px;
      font-weight: bold;
      line-height: 78px; }
    .content-wrapper .promotion-desc {
      color: #2C2935;
      font-size: 24px;
      margin-top: 13px; }
    .content-wrapper .promotion-btn {
      margin-top: 39px; }
      .content-wrapper .promotion-btn a {
        text-align: center;
        background: linear-gradient(89.77deg, #E164BE -0.56%, #FF74D8 -0.55%, #FF985E 97.67%);
        border-radius: 50px;
        width: 292px;
        height: 63px;
        color: white;
        text-decoration: none;
        font-size: 24px;
        display: block;
        padding-top: 12px; }
  .content-wrapper .advantage {
    margin-top: 389px;
    color: white; }
    .content-wrapper .advantage-item {
      display: flex; }
      .content-wrapper .advantage-item > div {
        width: 50%; }
    .content-wrapper .advantage-title {
      font-weight: 900;
      font-size: 45px;
      line-height: 55px;
      text-align: center; }
    .content-wrapper .advantage-hr {
      height: 6px;
      background-color: white;
      width: 185px;
      margin: 20px auto; }
    .content-wrapper .advantage-desc {
      font-size: 24px;
      line-height: 149.7%; }
    .content-wrapper .advantage-img {
      text-align: center; }

/*# sourceMappingURL=homepage.css.map */
