*, html, body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%; }

.popup {
  width: 1110px;
  border: 1px solid black;
  height: 650px;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 50px;
  padding: 10px 65px; }
  .popup__tutle {
    color: #E73C8E;
    margin-top: 30px;
    font-size: 24px;
    line-height: 29px; }
    .popup__tutle span {
      font-weight: bold; }
  .popup__service {
    margin-top: 35px; }
  .popup__items {
    display: flex;
    justify-content: space-between;
    margin-top: 15px; }
    .popup__items .item1 {
      position: relative;
      width: 355px; }
      .popup__items .item1 .likes {
        color: white;
        margin: 5px;
        margin-top: 30px;
        text-align: center;
        position: relative;
        background: linear-gradient(121.36deg, #FB338D 4.1%, #FF6B40 98.03%);
        border-radius: 39px; }
        .popup__items .item1 .likes__amount {
          font-weight: 900;
          font-size: 48px;
          line-height: 116.7%; }
        .popup__items .item1 .likes__posts {
          font-weight: normal;
          margin-top: 5px; }
          .popup__items .item1 .likes__posts span {
            font-weight: bold; }
        .popup__items .item1 .likes__views {
          font-weight: 900;
          font-size: 38px;
          line-height: 116.7%;
          margin-top: 40px; }
        .popup__items .item1 .likes__igtv span {
          color: #ffd039;
          font-weight: bold; }
        .popup__items .item1 .likes__change {
          position: absolute;
          left: 0;
          right: 0; }
          .popup__items .item1 .likes__change a {
            color: #EB5B9C;
            display: inline-block;
            width: 310.4px;
            height: 53px;
            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.23);
            border-radius: 39px;
            font-weight: bold;
            font-size: 20px;
            line-height: 50px;
            text-decoration: none; }
      .popup__items .item1 .blur {
        position: absolute;
        color: red;
        top: 0px;
        width: 100%;
        height: 100%;
        border-radius: 39px;
        background: linear-gradient(121.36deg, #FB338D 4.1%, #FF6B40 98.03%);
        z-index: -1000;
        filter: blur(4px); }
    .popup__items .item2 {
      position: relative; }
      .popup__items .item2 .bonus {
        width: 245px;
        text-align: center;
        color: #fc407b; }
        .popup__items .item2 .bonus__comments {
          border: 4px solid #fc407b;
          height: 202px;
          border-radius: 17px; }
          .popup__items .item2 .bonus__comments span {
            font-weight: 900;
            color: #fc407b; }
          .popup__items .item2 .bonus__comments div:nth-of-type(1) {
            font-weight: 900;
            font-size: 48px;
            margin-top: 38px; }
          .popup__items .item2 .bonus__comments div:nth-of-type(2) {
            font-size: 18px;
            line-height: 116.7%;
            color: #5C4998; }
          .popup__items .item2 .bonus__comments div:nth-of-type(3) {
            margin-top: 15px;
            font-size: 18px;
            line-height: 116.7%;
            color: #5C4998; }
        .popup__items .item2 .bonus__price div:nth-of-type(1) {
          color: #5C4998;
          font-weight: 900;
          font-size: 33px;
          line-height: 40px;
          margin-top: 22px; }
        .popup__items .item2 .bonus__price div:nth-of-type(2) {
          color: #29171D;
          font-weight: 700;
          font-size: 33px;
          line-height: 40px; }
        .popup__items .item2 .bonus__price div:nth-of-type(3) {
          font-size: 17px;
          color: #29171D; }
        .popup__items .item2 .bonus__price div:nth-of-type(4) {
          color: #150F26;
          font-size: 12px;
          color: gray;
          text-align: center;
          margin-top: 6px; }
          .popup__items .item2 .bonus__price div:nth-of-type(4) span {
            box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
            border-radius: 11px;
            padding: 4px 6px; }
            .popup__items .item2 .bonus__price div:nth-of-type(4) span img {
              position: relative;
              top: 3px; }
      .popup__items .item2 .bonus-img {
        position: absolute;
        top: -22px;
        text-align: center;
        width: 100%; }
    .popup__items .item3 .left {
      width: 263px;
      text-align: center; }
      .popup__items .item3 .left__title div:nth-of-type(1) {
        font-weight: 900;
        font-size: 36px;
        line-height: 14px;
        text-transform: uppercase;
        color: #9a4696; }
      .popup__items .item3 .left__title div:nth-of-type(2) {
        font-weight: 900;
        font-size: 96px;
        text-transform: uppercase;
        color: #9a4696;
        margin-top: 10px; }
      .popup__items .item3 .left__title div:nth-of-type(3) {
        font-size: 30px;
        color: #5C4998;
        font-weight: 600;
        margin-top: -28px; }
      .popup__items .item3 .left__timer {
        margin-top: 16px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        color: #5C4998; }
        .popup__items .item3 .left__timer div div {
          font-weight: bold;
          font-size: 36px;
          color: #29171D;
          border-radius: 19px;
          border: 2px solid #5C4998;
          padding: 7px;
          margin-bottom: 8px; }
        .popup__items .item3 .left__timer div:nth-of-type(even) div {
          border: 0px; }
      .popup__items .item3 .left__prolong {
        margin-top: 15px; }
        .popup__items .item3 .left__prolong a {
          background: linear-gradient(89.76deg, #E164BE -0.56%, #FF74D8 -0.55%, #FF985E 97.67%);
          border-radius: 50px;
          color: white;
          text-decoration: none;
          width: 263px;
          height: 54px;
          text-align: center;
          display: inline-block;
          font-size: 24px;
          line-height: 54px;
          box-shadow: 0 0 15px #E164BE; }

/*# sourceMappingURL=style.css.map */
